@import '../../../src/website/fonts.less';

.wz-tables {
  width: 100%;
  border: 1px solid @GrayLine;

  .wz-table-header-wrapper {
    overflow: hidden;
    border-bottom: 1px solid @GrayLine;

    .wz-table-header-th {
      float: left;

      .table-header-th-label {
        padding-left: 10px;
        display: block;
        height: 36px;
        line-height: 36px;
        font-size: @SmallSize;
        color: @SubFont;
      }
    }
  }

  .wz-table-body-wrapper {
    .wz-table-row {
      overflow: hidden;
      border-bottom: 1px solid @GrayLine;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: @BlueBg;
      }

      .wz-table-column-item {
        float: left;

        .wz-table-checkbox-item {
          padding-left: 10px;
        }
      }
    }
  }
}
