@import './fonts.less';
@import './iconfont/iconfont.css';

html,
body,
div,
ul,
li {
  padding: 0;
  margin: 0;
  font-size: @DefaultSize;
  color: @MainFont;
}

ul,
li {
  list-style-type: none;
}

i,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: @DefaultFont;
}

.main-content {
  padding: 35px 80px;
  flex: 1;
}
